# Spark Connected

In [1]:
println("Spark is connected")

Intitializing Scala interpreter ...

Spark Web UI available at http://localhost:4040
SparkContext available as 'sc' (version = 3.3.0, master = local[*], app id = local-1657549264073)
SparkSession available as 'spark'

22/07/11 10:21:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Spark is connected

# Hadoop Connected

In [3]:
try {
    var Olympic_History = spark.read.csv("hdfs://localhost:9000/user/input/athlete_events.csv")
    var Countries = spark.read.csv("hdfs://localhost:9000/user/input/noc_regions.csv")
} catch {
    case e: Throwable => println("Hadoop cant connect locally")
}
finally {
    println("hdfs://localhost:9000/....... ")
}

hdfs://localhost:9000/.......

# Closer Look at the data

In [4]:
var Olympic_History = spark.read.csv("hdfs://localhost:9000/user/input/athlete_events.csv")
var Countries = spark.read.csv("hdfs://localhost:9000/user/input/noc_regions.csv")
Countries.show

+---+--------------+--------------------+
|_c0|           _c1|                 _c2|
+---+--------------+--------------------+
|NOC|        region|               notes|
|AFG|   Afghanistan|                null|
|AHO|       Curacao|Netherlands Antilles|
|ALB|       Albania|                null|
|ALG|       Algeria|                null|
|AND|       Andorra|                null|
|ANG|        Angola|                null|
|ANT|       Antigua| Antigua and Barbuda|
|ANZ|     Australia|         Australasia|
|ARG|     Argentina|                null|
|ARM|       Armenia|                null|
|ARU|         Aruba|                null|
|ASA|American Samoa|                null|
|AUS|     Australia|                null|
|AUT|       Austria|                null|
|AZE|    Azerbaijan|                null|
|BAH|       Bahamas|                null|
|BAN|    Bangladesh|                null|
|BAR|      Barbados|                null|
|BDI|       Burundi|                null|
+---+--------------+--------------------+
only showing top 20 rows

Olympic_History: org.apache.spark.sql.DataFrame = [_c0: string, _c1: string ... 13 more fields]
Countries: org.apache.spark.sql.DataFrame = [_c0: string, _c1: string ... 1 more field]

In [16]:
Olympic_History.show

+---+--------------------+---+---+------+------+--------------+---+-----------+----+------+-----------+--------------------+--------------------+-----+
|_c0|                 _c1|_c2|_c3|   _c4|   _c5|           _c6|_c7|        _c8| _c9|  _c10|       _c11|                _c12|                _c13| _c14|
+---+--------------------+---+---+------+------+--------------+---+-----------+----+------+-----------+--------------------+--------------------+-----+
| ID|                Name|Sex|Age|Height|Weight|          Team|NOC|      Games|Year|Season|       City|               Sport|               Event|Medal|
|  1|           A Dijiang|  M| 24|   180|    80|         China|CHN|1992 Summer|1992|Summer|  Barcelona|          Basketball|Basketball Men's ...|   NA|
|  2|            A Lamusi|  M| 23|   170|    60|         China|CHN|2012 Summer|2012|Summer|     London|                Judo|Judo Men's Extra-...|   NA|
|  3| Gunnar Nielsen Aaby|  M| 24|    NA|    NA|       Denmark|DEN|1920 Summer|1920|Summer|  Antwerpen|            Football|Football Men's Fo...|   NA|
|  4|Edgar Lindenau Aabye|  M| 34|    NA|    NA|Denmark/Sweden|DEN|1900 Summer|1900|Summer|      Paris|          Tug-Of-War|Tug-Of-War Men's ...| Gold|
|  5|Christine Jacoba ...|  F| 21|   185|    82|   Netherlands|NED|1988 Winter|1988|Winter|    Calgary|       Speed Skating|Speed Skating Wom...|   NA|
|  5|Christine Jacoba ...|  F| 21|   185|    82|   Netherlands|NED|1988 Winter|1988|Winter|    Calgary|       Speed Skating|Speed Skating Wom...|   NA|
|  5|Christine Jacoba ...|  F| 25|   185|    82|   Netherlands|NED|1992 Winter|1992|Winter|Albertville|       Speed Skating|Speed Skating Wom...|   NA|
|  5|Christine Jacoba ...|  F| 25|   185|    82|   Netherlands|NED|1992 Winter|1992|Winter|Albertville|       Speed Skating|Speed Skating Wom...|   NA|
|  5|Christine Jacoba ...|  F| 27|   185|    82|   Netherlands|NED|1994 Winter|1994|Winter|Lillehammer|       Speed Skating|Speed Skating Wom...|   NA|
|  5|Christine Jacoba ...|  F| 27|   185|    82|   Netherlands|NED|1994 Winter|1994|Winter|Lillehammer|       Speed Skating|Speed Skating Wom...|   NA|
|  6|     Per Knut Aaland|  M| 31|   188|    75| United States|USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Ski...|   NA|
|  6|     Per Knut Aaland|  M| 31|   188|    75| United States|USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Ski...|   NA|
|  6|     Per Knut Aaland|  M| 31|   188|    75| United States|USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Ski...|   NA|
|  6|     Per Knut Aaland|  M| 31|   188|    75| United States|USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Ski...|   NA|
|  6|     Per Knut Aaland|  M| 33|   188|    75| United States|USA|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Ski...|   NA|
|  6|     Per Knut Aaland|  M| 33|   188|    75| United States|USA|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Ski...|   NA|
|  6|     Per Knut Aaland|  M| 33|   188|    75| United States|USA|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Ski...|   NA|
|  6|     Per Knut Aaland|  M| 33|   188|    75| United States|USA|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Ski...|   NA|
|  7|        John Aalberg|  M| 31|   183|    72| United States|USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Ski...|   NA|
+---+--------------------+---+---+------+------+--------------+---+-----------+----+------+-----------+--------------------+--------------------+-----+
only showing top 20 rows

# How many official Olympic games have been held total?

In [4]:
Olympic_History.createOrReplaceTempView("Olympic_History")
Countries.createOrReplaceTempView("Countries")
spark.sql("SELECT count(distinct _c9 ) AS total_olympic_games FROM olympic_history; ").show()

+-------------------+
|total_olympic_games|
+-------------------+
|                 88|
+-------------------+

# What City's hosted the last 5 games? (no 2018 & 2020)

In [17]:
spark.sql("SELECT distinct _c11 host_city, _c9 year  from Olympic_History where _c9 = '2010' or _c9= '2012' or _c9 = '2014' or _c9= '2016' or _c9 = '2008' or _c9 = '2018' order by 2; ").show()

+--------------+----+
|     host_city|year|
+--------------+----+
|       Beijing|2008|
|     Vancouver|2010|
|        London|2012|
|         Sochi|2014|
|Rio de Janeiro|2016|
+--------------+----+

# In what years did America gold a medal in Hockey?

In [18]:
spark.sql("Select _c6 team, _c12 sport, _c8 Hockey_Gold, count(_c6) total_medals_that_year from Olympic_history where _c14 <>'NA' and _c6 = 'United States' and _c12 = 'Hockey' group by 1,2,3 order by 4 desc;").show()

+-------------+------+-----------+----------------------+
|         team| sport|Hockey_Gold|total_medals_that_year|
+-------------+------+-----------+----------------------+
|United States|Hockey|1984 Summer|                    16|
|United States|Hockey|1932 Summer|                    12|
+-------------+------+-----------+----------------------+

# How many different types of games have been played in the Olympics?

In [19]:
spark.sql("SELECT count(distinct _c14) AS events FROM Olympic_History;" ).show

+------+
|events|
+------+
|   221|
+------+

# First official olympics game year?

In [20]:
spark.sql("SELECT _c9 first_olympics from Olympic_History order by 1 asc limit 1; ").show()

+--------------+
|first_olympics|
+--------------+
|          1896|
+--------------+

# Which years did USA not win a Gold medal in Basketball?

In [21]:

spark.sql("Select _c6 team, _c12 sport, _c8 Years_USA_Did_not_win_Gold_in_Basketball from Olympic_history where _c14 = 'Silver' and _c6 = 'United States' and _c12 = 'Basketball' group by 1,2,3;").show()

+-------------+----------+----------------------------------------+
|         team|     sport|Years_USA_Did_not_win_Gold_in_Basketball|
+-------------+----------+----------------------------------------+
|United States|Basketball|                             1976 Summer|
|United States|Basketball|                             1972 Summer|
+-------------+----------+----------------------------------------+

# CRUD

In [ ]:
      import java.util.Scanner
      val admin = "Anthony password"
      val line = new Scanner(admin)
      val Admin_username = line.next
      val Admin_password =  line.next

      println("Enter new username: ")
      var user = scala.io.StdIn.readInt()
      println("Enter new password: ")
      var user_password = scala.io.StdIn.readInt()

      var login_attempt = scala.io.StdIn.readInt()
      if (login_attempt == Admin_password){
        println("Do you want to create new user? y/n ")
      }

# Give me name of some country 
# I will give you years that country won gold

In [ ]:
var name: String = ""
name = readLine("Name of Country: ")
spark.sql(s"select * from Olympic_history where _c14 = 'Gold' and _c6 =$name").show

Intitializing Scala interpreter ...

Spark Web UI available at http://localhost:4040
SparkContext available as 'sc' (version = 3.3.0, master = local[*], app id = local-1657552561633)
SparkSession available as 'spark'

Name of Country:

In [ ]:
spark.sql("select _c6, _c9 from Olympic_history where _c6 = 'Finland' and _c14= 'Gold'order by 2 desc limit 10;").show